html,
body {
  min-height: 150%;
  position: relative;
}

#sp-sticky-target {
  opacity: 0;
  position: fixed;
}

#sp-sticky-target.sticky-header-test {
  height: 50px;
  top: -50px;
}

#sp-sticky-target.active {
  opacity: 1;
  top: 0;
}

#sp-sticky-start.sticky-start-test {
  margin-top: 200px;
}
